* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

body {
    font-family: cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-image: linear-gradient(to bottom, #0A1D30, #B70309);
    margin: 10px;
    margin-top: 30px;
    padding: 20px;
}

.text p {
    color: #fff;
    letter-spacing: 2px;
    font-size: 25px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
    font-weight: bolder;
    gap: 2px;
}

footer p {
    text-align: center;
    color: #fff;
    font-size: 25px;
}

section {
    color: #0A1D30;
}

span {
    color: #B70309;
}

@media (max-width: 320px) {

    .text p {
        font-size: 15px;
        padding: 20px;
    }
}

@media (max-width: 375px) {

    .text p {
        font-size: 15px;
        padding: 20px;
    }   
}